.main
  .main-header
    プレイヤーを検索
  .main-form
    = form_tag({controller: 'users',action: 'result'}) do |f|                                     
      = text_field_tag :name,'',class: 'form', placeholder: 'サモナー名を入力',required:""
      = submit_tag "検索する",class: 'btn'


    